In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
june_path = './june_data/'
april_path = './april_data/'

In [3]:
june_files = os.listdir('june_data')
april_files = os.listdir('april_data')

In [ ]:
df1 = pd.read_csv('./june_data/06-01.csv')
df2 =

In [7]:
for file in june_files[1:]:
    dfs = []
    df_name = 'df_' + file
    path = june_path + file
    dfs.append(df_name)
    df = pd.read_csv(path)
    print(df)[1]
    #june_df = pd.concat(df) - gives 'first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"'
   
    #df_name = pd.read_csv(path)
    #dfs.append(df_name)
    #june_df = pd.concat(dfs) 'cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid'

                    date         username            to  replies  retweets  \
0    2020-06-01 23:51:40         indexnld           NaN        0         1
1    2020-06-01 23:51:22    Just_GoogleME           NaN        1        25
2    2020-06-01 23:46:11  PonderthisPond1  chuckwoolery        0         0
3    2020-06-01 23:45:00         theeagle           NaN        0         0
4    2020-06-01 23:40:37       hcassidy73           NaN        0         0
..                   ...              ...           ...      ...       ...
359  2020-06-01 00:11:59    UBetterlikeme           NaN        1         1
360  2020-06-01 00:10:40          ShonRo1   karenhunter        0         0
361  2020-06-01 00:07:04       DWapenveld           NaN        0         0
362  2020-06-01 00:05:41       dunn_ddunn    Lauramumi3        1         0
363  2020-06-01 00:00:14    LAStreetAngel           NaN        0         0

     favorites                                               text  geo  \
0            0  Actualización status COVID-19: Nuevo Laredo: L...  NaN
1           18  Yesterday the state of Texas reported 1,949 CO...  NaN
2            1   HUGE WIN!!!!! Texas Supreme Court reverses de...  NaN
3            1  An expert from the Texas A&amp;M School of Pub...  NaN
4            1  In places like Oklahoma, Texas and Virginia, O...  NaN
..         ...                                                ...  ...
359          1  @ihateu4321 Is this sport popular in Texas?......  NaN
360          0  I know in Texas Cruz, Cornyn, Paxton and Abbot...  NaN
361          1  As part of the Texas Covid-19 testing program ...  NaN
362          1  And run by democrats. Why does Florida, run by...  NaN
363          0  Showing the street police my poster that I’m h...  NaN

        mentions                                           hashtags  \
0            NaN                      #COVID19mexico #NLD #indexnld
1            NaN                                                NaN
2            NaN                                                NaN
3            NaN                                                NaN
4            NaN                                                NaN
..           ...                                                ...
359  @ihateu4321                                                NaN
360          NaN                                                NaN
361          NaN                                                NaN
362          NaN                                                NaN
363          NaN  #georgefloyd #pandemic #fear #covid #coronavir...

                      id                                          permalink
0    1267604759201996801  https://twitter.com/indexnld/status/1267604759...
1    1267604686875623429  https://twitter.com/Just_GoogleME/status/12676...
2    1267603380307783680  https://twitter.com/PonderthisPond1/status/126...
3    1267603081619017734  https://twitter.com/theeagle/status/1267603081...
4    1267601980442238977  https://twitter.com/hcassidy73/status/12676019...
..                   ...                                                ...
359  1267247484025417729  https://twitter.com/UBetterlikeme/status/12672...
360  1267247152025174026  https://twitter.com/ShonRo1/status/12672471520...
361  1267246246500204544  https://twitter.com/DWapenveld/status/12672462...
362  1267245898200948737  https://twitter.com/dunn_ddunn/status/12672458...
363  1267244527485620224  https://twitter.com/LAStreetAngel/status/12672...

[364 rows x 12 columns]

TypeError: 'NoneType' object is not subscriptable