In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
june_path = './june_data/'
april_path = './april_data/'

In [3]:
june_files = os.listdir('june_data')
april_files = os.listdir('april_data')

In [8]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [22]:
for file in june_files[1:]:
    dfs = []
    df_name = 'df_' + file
    path = june_path + file
    dfs.append(df_name)
    df_name = pd.read_csv(path)
    #june_df = pd.concat(df) - gives 'first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"'
   
    #df_name = pd.read_csv(path)
    #dfs.append(df_name)
    #june_df = pd.concat(dfs) 'cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid'

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [11]:
june_df.head()

Empty DataFrame
Columns: []
Index: []